<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="WatchFolderConfigSection"
             type="ServiceConsoleileWatcher.WatchFolderConfigSection, ServiceConsoleileWatcher" />
  </configSections>
  <appSettings>
    <add key="language" value="ru-RU"/>
    <add key="defaulfFolder" value="..\..\..\..\FolderForWatching\default"/>
  </appSettings>
 <WatchFolderConfigSection>
    <Folders>
      <Folder Path="..\..\..\..\FolderForWatching\1" />
      <Folder Path="..\..\..\..\FolderForWatching\2" />
    </Folders>  
  </WatchFolderConfigSection>
</configuration>